.userProfileImg {
  display: block;
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  //   overflow: hidden;
  button {
    position: absolute;
    bottom: 5px;
    // right: 10;
    right: 5px;
  }
}
.imgFull {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.username {
  font-size: 30px;
  font-weight: 600;
  color: var(--black);
}
.userDesignation {
  color: var(--gray);
  font-size: 18px;
}
.opentoText {
  font-size: 15px;
  color: var(--primary);
}
.userBasicInfo {
  display: flex;
  flex-direction: column;
  text-align: center;
}
