div{
    .profileFeed{
        margin-top: 50px;
    }
}
.friendRecom{
    padding: 10px 5px;
    border-bottom: 2px solid var(--white-ae);
    border-top: 2px solid var(--white-ae);
}
.containerMain{
    padding-bottom: 100px;
}