.inpuField{
    width: 100%;
    padding: 8px 10px;
    border: none;
    border-radius: 10px;
    font-size: var(--f15);
    height: 45px;
}
.white{
    background-color: var(--white);
}
.gray{
    color: var(--gray);
}
.black{
    color: var(--black);
}
.offWhite{
    background-color: var(--off-white);
}