.TextAreaQa{
    margin: 10px 0;
    label{
        display: block;
        font-size: var(--f18);
        color: var(--eirie-black);
    }
    .textAreaBox{
        position: relative;
        height: 120px;
        textarea{
            padding: 10px 80px 10px 20px;
            border: 1px solid var(--gray);
            border-radius: 10px;
            font-size: var(--f18);
            width: 100%;
            height: 100%;
            outline: none;
            resize: none;
        }
        .actions{
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
            color: var(--secondary);
            font-size: var(--f14);
        }
    }
}