.coverMain{
    position: relative;
    padding-bottom: 200px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 3px 4px 21px -10px grey;
    background-color: #fff;
}
.coverImg{
    width: 100%;
    height: 300px;
}
.coverImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
}
.profileCounts{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
    margin-top: 100px;
}
.profileActionBtns{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
    border-top: 2px solid #dcdfe4;
}
.userInfoMain{
    display: flex;
    gap: 50px;
    padding: 0px 20px 0px 20px;
    align-items: center;
    position: absolute;
    top: 200px;
}