.keyActions{
    justify-content: space-between;
    padding: 20px 0;
    button{
        span{
            font-size: var(--f26) ;
            color: var(--primary) ;
            padding: 20px 0;
        }
    }
}
.headingWithImg{
    gap: 20px;
    padding-bottom: 20px;
}
.strRightMain{
    position: relative;
    z-index: 1;
}
.strRightMain::before{
    content: "";
    width: 2px;
    height: 98%;
    background-color: var(--white-ef);
    position: absolute;
    top: 10px;
    left: 25px;
    z-index: -1;
}
.cardsAudit{
    padding: 20px 18px 50px 30px;
    display: flex;
    justify-content: space-between;
    overflow-x: scroll;
    scrollbar-width: 100;
}


.cardsAudit::-webkit-scrollbar-track{
	border-radius: 10px;
	background-color: transparent;
}
.cardsAudit::-webkit-scrollbar{
	width: 100px;
    height: 10px;
	background-color: transparent;
}
.cardsAudit::-webkit-scrollbar-thumb{
    width: 100px;
	border-radius: 10px;
	background-color: var(--gray);
}
.cardsAudit::-webkit-scrollbar-thumb:hover{
    background-color: var(--primary);
}


.planMain{
    width: 100%;
    padding: 30px 0;
}
.brandingBox{
    padding-left: 75px;
}
.filterBtnsGroup{
    display: flex;
    gap: 20px;
    padding-bottom: 20px;
}