.userRoleMain{
    max-width: 500px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    h4{
        font-size: var(--f45);
    }
    .buttonAdmin{
        button{
            padding: 15px 30px;
            border: 3px solid;
            margin-bottom: 20px;
        }
    }
    .buttonUser{
        button{
            padding: 15px 30px;
            border: 3px solid var(--secondary);
            margin-bottom: 20px;
        }
    }
    .alreadyHaveAcc{
        font-size: var(--f20);
        font-family: 'Graphik Regular';
        color: var(--gray);
        margin: 20px 0 0;
        a{
            color: var(--secondary);
            padding-left: 10px;
        }
    }
}