.dropdownMain{
    display: flex;
    justify-content: flex-start;
    select{
        width: auto;
        border: 0px solid;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23385a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
        margin-right: 15px;
        outline: none ;
        box-shadow: none;
        border: none;
    }
    &:focus {
        border-color: transparent;
        outline: 0;
        box-shadow: none;
    }
    border-bottom: 1px solid #ccc;
}
